/* Work in progress */

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: black;
    flex-basis: auto;
    align-self: baseline;
    justify-content: space-between;
}

#header-img {
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.nav-item, .footer-item {
    display: inline-block;
    color: white;
    margin: 20px;
    text-emphasis: none;
   
    list-style: none;
    
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: inherit;
    
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content:flex-end;
}

#footer-links{
    display: flex;
    flex-direction:row;
}


footer {
    margin: 0;
    padding: 0;
}