/* Work in progress */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar settings */

nav {
    display: flex;
    background-color: black;
    flex-basis: auto;
    align-self: baseline;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

#header-img {
    overflow: hidden;
    padding: 0;
    width: 20vw;
}

.nav-item, .footer-item {
    display: inline-block;
    color: white;
    margin: 20px;
    text-emphasis: none;
    list-style: none;
    
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: inherit;
}

/* Body Settings */
.pagewrapper{
    position:relative;
}

h2 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#hero{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    align-items: center;

}

#hero >h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type=mail]{
    max-width:400px;
    width: 100%;
    padding: 5px;
}

#hero input[type=submit]{
    background-color: gold;
    padding:10px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 15px;
    width: 100%;
    max-width: 200px;  
    border-style: none; 
}

.container{
    max-width: 10000px;
    width: 100%;
    margin: 0 auto;


}

section{display: block;
    margin-bottom: 100px;
}

.grid{
    display: flex;
    margin: 50px;
    justify-content: baseline;

}
.icon, .guitar-desc{
    
    margin: 0px 20px;
}
#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}


/* #features .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 25vw;
    padding: 5px;
}

#features .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 125px;
    width: 80vw;
    padding: 5px;
} */


#video{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#video iframe{
    max-width: 600px;
   width: 70vw;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    
}

.pricebox{
    margin: 40px;
    border:solid 1px black;
    text-align: center;
    width: 20vw;
    
}

.guitar_name{
    background-color:lightgray;
    padding: 20px;  

}
.guitar-desc{
    margin-bottom: 10px;
    padding: 20px;
}

#price input[type=submit]{
    background-color: gold;
    padding:10px;
    margin:20px;
    font-weight: 900;
    font-size: 15px;
    width: 100%;
    max-width: 200px;  
    border-style: none; 
}

/* Footer Settings */

footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    flex-basis: auto;
    color: white;
    justify-content: flex-end;
    font-size: 1rem;
}

.footer-item{margin: 10px}


input#submit:hover{
    background-color: maroon;
    color: white;
    transition:  background-color, color 2s;
}