* {
    font-family: "Play", sans-serif;
    font-size: 1vw;
    margin: 0;
    padding: 0;
    color: gray;
    text-align: justify;
}

h2,
header {
    color: black;
    border-bottom: black solid 1px;
    width: 100%;
}

code,
xmp {
    background: darkcyan;
    color: white;
}

td,
tr,
th,
table {
    border: 1px black solid;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

nav {
    display: block;
    position: fixed;
    height: 100%;
    float: left;
    background-color: darkcyan;
    padding: 20px 0px 20px 0px;
    top: 0;
    width: 15%;
    border-right: 1px solid black;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

nav>h2 {
    border-bottom: black solid 1px;
    text-align: center;
}

.nav-list>li {
    border-bottom: black solid 1px;
    text-align: center;
    font-size: 1rem;
    width: auto;
    padding: 20px 20px 20px 2px;
}

#disclaimer {
    color: white;
    position: relative;
    bottom: 0;
    text-align: center;
}

.link {
    color: darkcyan;
}

a {
    text-emphasis: none;
    text-decoration: none;
    color: white;
}

main {
    display: block;
    margin-left: 17%;
    margin-right: 20px;
}

section {
    margin: 50px 0px;
}

section h2 {
    margin: 20px 0px;
    font-size: 1.5rem;
}

section p {
    margin: 20px 0px;
}

li {
    list-style-position: inside;
    padding-left: 20px;
    margin: 20px, 0px;
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 2vw;
    }
}